 
  * {
    margin: 0%;
  }
  body {
    background-image: url("../assets/img/fonfoblanco.jpg");
  }
  a {
    text-decoration: none !important;
    color:rgb(153, 0, 0) !important;
    font-weight: bold;
    font-family: "IM Fell DW Pica", serif;
    transition: color;
  }
  a:hover {
    color: rgb(255, 165, 112) !important;
  }
  .classNavUl {
    list-style-type: none;
    margin: 0px 5px 0px 102px;
    position: relative;
    top: -100px;
    left: 350px;
    display: flex;
    justify-content: center;
  }
  .classNavLi {
    font-size: 30px;
    color: rgb(131, 120, 120);
    list-style: none;
    padding: 10px;
    margin: 10px 0px;
  }
  .heightHeder {
    height: 110px;
    background-color:black;
    position:sticky;
    top: 0;
  }
  .img-fluid {
    max-width: 100% !important;
    height: auto !important;
  }
  .div_h3--decoracion {
    font-size: 20px;
    color: rgb(146, 0, 0);
    font-weight: bold;
    font-family: "IM Fell DW Pica";
    display: flex;
    justify-content: flex-start;
    margin: 5px;
  }
  .div_text--decoracion {
    margin-left: 5px;
    width: 70%;
    font-size: 10px;
    font-weight: bold;
    color: white;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    border-radius: 50px;
    background-color: grey;
  }
  @keyframes sucursales {
    0% {
      width: 100%;
    }
    30% {
      transform: rotateY(100deg);
    }
    60% {
      width: 100%;
    }
    90% {
      transform: rotateX(100deg);
    }
    100% {
      width: 100%;
    }
  }
  .div_img--posicion {
    border: solid black 5px;
    border-radius: 250px;
    background-image: url("../assets/img/fondonegro.jpg");
    display: flex;
    justify-content: center;
    width: 70%;
    height: 350px;
    margin-left: -200px;
    animation-name: sucursales;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
  }
  .footer_div--decoracion {
    background-image: url("../assets/img/fondofooterr.jpg");
    width: 90%;
    height: 200px;
  }
  .footer_img--posicion {
    width: 30px;
    height: 30px;
    margin: 0px 20px;
  }
  .footer_leetralogo--posicion-padre {
    display: flex;
    justify-content: center;
  }
  .footer_leetralogo--posicion {
    width: 40px;
    height: 40px;
    display: flex;
    margin: 5px;
  }
  .footer_redes--posicion {
    display: flex;
    justify-content: center;
    margin: 0px 10px;
  }
  .classfooterLi {
    list-style: none;
    font-size: 16px;
  }
  .classfooterUl {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
